container_commands:
  01_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
    leader_only: true
  02_create_groups:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_groups"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  05_logsperm:
    command: "chmod 777 -R logs/"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "FitnessApp.settings"
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: FitnessApp/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"